public/
themes/**
.python-version
.vscode
server/.env
*.py.swp
__pycache__
.hugo_build.lock
venv
caddy/Caddyfile
db
work
.env
*.log
server/pickups.csv
bin/email-confirm.json
bin/email-history.csv
server/contacts.csv
server/stripe_charges.csv
email_history.json


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
