services:
  caddy:
    image: caddy:2.7.5
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    working_dir: /tree105/caddy
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./public:/public
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - outside
      - default

  server:
    build:
      context: ./server
    env_file: .env
    environment:
      - TREE_DB=/tree105db/tree105.sqlite
    working_dir: /app
    command: python server.py
    ports:
      - "4242:4242"
    volumes:
      - ./db:/tree105db
    networks:
      - default

volumes:
  tree105:
  caddy_data:
  caddy_config:

networks:
  outside:
    external: true
