services:
  caddy:
    image: caddy:2.7.5
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    working_dir: /tree105/caddy
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./public:/public
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - outside
      - default

  server:
    build:
      context: ./server
    working_dir: /tree105/server
    env_file: .env
    command: python server.py
    ports:
      - "4242:4242"
    volumes:
      - .:/tree105
    networks:
      - default
    profiles: ["debug"]
      command: python -m debugpy --listen 0.0.0.0:5678 server.py
      ports:
      - "4242:4242"
      - "5678:5678"

  generator:
    build:
      context: ./generator
    working_dir: /tree105/generator
    command: hugo server -s /tree105/generator --disableFastRender --forceSyncStatic --cleanDestinationDir --disableLiveReload -d /tree105/public --bind "0.0.0.0" --port 1313
    ports:
      - "1313:1313"
    volumes:
      - .:/tree105
    networks:
      - default

volumes:
  tree105:
  caddy_data:
  caddy_config:

networks:
  outside:
    external: true
