services:

  caddy:
    image: caddy:2.7.5
      # build:
      #   context: ./caddy
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    # expose:
    #   - 5678
    working_dir: /tree105/caddy
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - .:/tree105
    networks:
      - outside
      - default

  server:
    build:
      context: ./server
    working_dir: /tree105/server
    command: python server.py
    #command: python -m debugpy --listen 0.0.0.0:5678 server.py
    ports:
      - "4242:4242"
      # - "5678:5678"
    volumes:
      - .:/tree105
    networks:
      - default


volumes:
  tree105:
  caddy_data:
  caddy_config:

networks:
  outside:
    external: true

