<!-- TODO lookup form (name and code) -->

<p id="lookup-message"></p>

<section class="local-session">
  <button type="input" id="button-start-over" class="start-over">Start a new registration</button>
  <button type="input" id="button-go-home">Go to registration home page</button>
  <p>Any questions or trouble? Contact us and we'll help you out.</p>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const code = window.localStorage.getItem("lookup") || "";
    const name = window.localStorage.getItem("name") || "";
    if ((code+name).length > 0) {
      document.getElementById("lookup-message").innerText = `A registration has started here. Lookup code: "${name} ${code}"`;
    } else {
      document.getElementById("lookup-message").innerText = "No registration has started yet.";
    }
    document.getElementById("button-start-over").addEventListener("click", function () {
      resetRegistration();
      window.location = "/";
    });
    document.getElementById("button-go-home").addEventListener("click", function () {
      window.location = "/";
    });

    function resetRegistration() {
      for (let key of ['lookup', 'name']) {
        if (window.localStorage.getItem(key)) {
          window.localStorage.removeItem(key);
        }
      }
    }
  });
</script>