<p>Please pay: <span id="acct" style="font-size: 1.1em; font-weight: bold;">@Pembroke-Troop105</span></p>
<p>What's this for? <span id="memo" style="font-size: 1.1em; font-weight: bold;"></span> (or your email or name/address)</p>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const lookup = window.localStorage.getItem("lookup");
        var address = window.localStorage.getItem("address");
        if (address && lookup) {
            address = JSON.parse(address);
            name = address.name;
            if (name) {
                name = name.trim();
                document.getElementById("memo").innerText = `Tree ${name} ${lookup}`;
            }
        }
    });
</script>
