
    
<form id="registerform">

    <h3>Contact Info</h3>
    
    <p></p>

    <label for="rfirstname">First Name</label>
    <input type="text" name="rfirstname"></input> 
    <label for="rlastname">Last Name</label>
    <input type="text" name="rlastname"></input> 
    <p></p>
    <label for="remail">Email</label>
    <input type="email" name="remail"> 
    <p></p>
    <label for="rphone">Phone</label>
    <input type="text" name="rphone"> 
    
    <h3>Pickup Location</h3>
    <p></p>
    <label for="raddress">Address</label>
    <input type="text" name="raddress"></input> 
    <p></p>
    <label for="rtown">Town</label>
    <input type="text" name="rtown" value="Pembroke"></input> 
    <label for="rstate">State</label>
    <input type="text" name="rstate" value="MA"></input>
    <p></p>
    <label for="rcomment">Comment</label>
    <input type="textarea" name="rcomment"></input>

    <h3>Payment</h3>
    <label for="rnumtrees">Number of Trees</label>
    <input type="number" name="rnumtrees" id="rnumtrees"></input>

    <p>If you have an artificial tree, or no tree, but would like to support Pembroke Troop 105's Scouting program, indicate 0 trees and an additional donation amount.</p>
    <label for="rextra">Additional Donation Amount</label>
    <input type="number" name="rextra" id="rextra"></input>
    <p></p>
    <label>Amount to pay: $ <span id="amount"></span></label>
    <p></p>
    <label for="pmethod">Payment Method</label>
    <br/>
    <input type="radio" id="cashcheck" name="pmethod" value="cashcheck">
    <label for="cashcheck">Attach cash or check payable to Troop 105 to tree on pickup day.</label><br>
    <input type="radio" id="online" name="pmethod" value="online">
    <label for="css">Pay online now.</label><br>

    <p></p>
    
    <input type="submit" value="Submit" />
</form>

<script>
    function formSubmit(event) {
      var url = "https://tree105-reg-mcme3i32aq-uc.a.run.app";
      var request = new XMLHttpRequest();
      request.open('POST', url, true);
      request.onload = function() { // request successful
        // we can use server response to our request now
        console.log(request.responseText);
      };
    
      request.onerror = function() {
        // request failed
        console.log("failed");
      };
    
      request.send(new FormData(event.target));
      event.preventDefault();
    }

    function onChangeNumTrees(event) {
      count = document.getElementById("rnumtrees").value;
      extra = document.getElementById("rextra").value;
      console.log(count);
      document.getElementById("amount").innerText = (count * 15) + extra + "TODO int";
    }

    document.getElementById("registerform").addEventListener("submit", formSubmit);
    document.getElementById("rnumtrees").addEventListener("input", onChangeNumTrees);
    document.getElementById("rextra").addEventListener("input", onChangeNumTrees);
    document.getElementById("cashcheck").checked = true;
    document.getElementById("rnumtrees").value = 1;
    document.getElementById("amount").innerText = 15;
</script>