<aside class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      {{ with .Site.Params.gravatar }}
      <div class="author-image">
        <a href="{{ $.Site.BaseURL }}">
          <img src="https://www.gravatar.com/avatar/{{md5 .}}?s=200&d=mp" class="img-circle img-headshot center" alt="Gravatar">
        </a>
      </div>
      {{ else }}
        {{ with .Site.Params.profilePicture }}
        <div class="author-image">
          <a href="{{ $.Site.BaseURL }}">
            <img src="{{ . | relURL }}" class="img-circle img-headshot center" alt="Profile Picture">
          </a>
        </div>
        {{ end }}
      {{ end }}

      <h1>{{ .Site.Title }}</h1>
      {{ with .Site.Params.description }}
      <p class="lead"><a href="https://www.pembroket105.org" target="_blank">{{.}}</a></p>
      {{end}}

    </div>


  </div>
</aside>
